html {
    font-size: 62.5%;
}

body {
    display: grid;
    grid-template-areas: "header header "
        "hero hero"
        "about about"
        "services services"
        "works works"
        "footer footer";
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.6rem;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
}

/* HEADER */

.header {
    grid-area: header;
    background-color: var(--preto);
}

.header .header-container {
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}

.header h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    transition: 0.3s;
}

.header a:hover h1 {
    color: var(--verde);
}

/* HERO */

.hero {
    grid-area: hero;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: var(--max-width-size);
    margin: 0 auto;
    border-bottom: 3px solid var(--preto);
}

.hero .texto-principal {
    background-color: var(--roxo);
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 3px solid var(--preto);
}

.hero .texto-principal h2 {
    font-weight: 700;
    font-size: 6rem;
}

.hero .texto-principal p {
    font-size: 3rem;
    margin: 30px 0 0 0;
}

.hero .texto-principal span {
    font-weight: 600;
}

.hero .quadro-gatos {
    padding: 10%;
}

.hero .quadro-gatos img {
    border: 3px solid var(--preto);
    border-radius: 20px;
    box-shadow: 8px 8px 0 0 var(--preto);
}

@media only screen and (max-width:768px) and (min-width:425px) {
    .hero .texto-principal h2 {
        font-size: 4rem;
    }

    .hero .texto-principal p {
        font-size: 2rem;
    }
}

@media (max-width:426px) {
    .hero .texto-principal {
        text-align: center;
        border-right: 0;
        border-bottom: 3px solid var(--preto);
    }

    .hero {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
    }
}

/* ABOUT */

.about {
    grid-area: about;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: var(--max-width-size);
    margin: 0 auto;
    border-bottom: 3px solid var(--preto);
}

.about .avatars {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    border-right: 3px solid var(--preto);
}

.about .circle {
    margin: -20px;
    justify-content: center;
    height: 175px;
    width: 175px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid var(--preto);
    box-shadow: 6px 6px 0 0 var(--preto);
}

.about .circle.primeiro {
    background-color: var(--amarelo);
    left: 20px;
    z-index: 3;
}

.about .circle.segundo {
    background-color: var(--verde);
    z-index: 2;
}

.about .circle.terceiro {
    background-color: var(--roxo);
    z-index: 1;
    right: 20px;
}

.about .texto-sobre {
    background-color: var(--amarelo);
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about .texto-sobre p {
    font-size: 3rem;
}

.about .texto-sobre p:nth-child(even) {
    margin: 30px 0 0 0;
}

.about .texto-sobre span {
    font-weight: 600;
}

@media only screen and (max-width:768px) and (min-width:425px) {
    .about .texto-sobre p {
        font-size: 2rem;
    }

    .about .circle {
        margin: -18px;
        height: 137px;
        width: 137px;
        box-shadow: 5px 5px 0 0 var(--preto);
    }
}

@media (max-width:426px) {
    .about {
        grid-template-areas: "sobre" "avatar";
        grid-template-columns: 1fr;
    }

    .about .avatars {
        grid-area: avatar;
        border-right: 0;
    }

    .about .circle {
        margin: -12px;
        height: 100px;
        width: 100px;
        box-shadow: 3px 3px 0 0 var(--preto);
    }

    .about .texto-sobre {
        grid-area: sobre;
        text-align: center;
        border-right: 0;
        border-bottom: 3px solid var(--preto);
    }

}

/* SERVICES */

.services {
    grid-area: services;
    display: grid;
    grid-template-areas: "title title" "web-dev app-design";
    max-width: var(--max-width-size);
    margin: 0 auto;
    position: relative;
}

.services .title {
    grid-area: title;
    display: flex;
    justify-content: center;
}

.services .title h2 {
    font-size: 3rem;
    font-weight: 700;
    background-color: var(--roxo);
    display: flex;
    width: 450px;
    height: 90px;
    justify-content: center;
    align-items: center;
    margin: 72px;
    border: 3px solid var(--preto);
    border-radius: 15px;
    box-shadow: 8px 8px 0 0 var(--preto);
}

.services .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    gap: 25px;
    margin: 0 50px 0 50px;
    width: 500px;
    height: 650px;
    border: 3px solid var(--preto);
    border-radius: 15px;
    box-shadow: 8px 8px 0 0 var(--preto);
}


.services .card h3 {
    font-size: 3rem;
    font-weight: 700;
}

.services .card p {
    font-size: 3rem;
    text-align: center;
    margin: 80px;
    margin-top: 0;
}

.services .card img {
    margin-top: 60px;
    height: 230px;
}

.services .card.dev {
    grid-area: web-dev;
}

.services .card.mobile {
    grid-area: app-design
}

.services .rectangle {
    position: absolute;
    width: 100%;
    height: 70vh;
    border-bottom: 3px solid var(--preto);
}

.services .rectangle.green {
    background-color: var(--verde);
    z-index: -1;
}

.services .rectangle.yellow {
    top: 80px;
    background-color: var(--amarelo);
    z-index: -2;
}

.services .rectangle.purple {
    top: 160px;
    background-color: var(--roxo);
    z-index: -3;
}

@media only screen and (max-width:1024px) and (min-width:768px) {
    .services .card {
        width: 400px;
        height: 600px;
    }

    .services .card p {
        margin: 50px;
        margin-top: 0;
    }

    .services .card img {
        height: 200px;
        margin-top: 50px;
    }
}

@media only screen and (max-width:768px) and (min-width:425px) {

    .services .title h2,
    .services .card h3,
    .services .card p {
        font-size: 2rem;
    }

    .services .title h2 {
        width: 300px;
        height: 75px;
        margin: 40px;
    }

    .services .card {
        width: 300px;
        height: 450px;
        margin: 0 20px 0 20px;
    }

    .services .card img {
        height: 150px;
    }
}

@media (max-width:426px) {
    .services {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .services .card {
        margin-bottom: 40px;
        height: 430px;
    }

    .services .card p {
        margin: 30px;
        margin-top: 0;
    }

    .services .card img {
        height: 150px;
        margin-top: 40px;
    }
}

/* WORKS */

.works {
    grid-area: works;
    display: grid;
    grid-template-areas: "title title title" "R G B";
}

.work.r{
    grid-area: R;
}

.work.g{
    grid-area: G;
}

.work.j{
    grid-area: J;
}


.footer {
    grid-area: footer;
    background-color: #92b;
}